.career {
    height: auto;
}

.post-card {
    height: auto;
    cursor: pointer;
    -webkit-box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38); 
    box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38);
    
   transition-duration: 1s;
    margin-top: 10px;

}

.post-card-open{
    height: auto;
    cursor: pointer;
    -webkit-box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38); 
    box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38);
    
    border-left: 5px solid blueviolet;
    margin-top: 10px;

}

.post-card:hover{
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition-duration: s ;

}

.collapse-option{
    display: flex;
    justify-content: space-between;
    height: 66px;
    padding: 15px;
}

.desctiption{
    transition-duration: 1s ;

    height: auto;
    padding: 15px;
}

.pag-detail{
    -webkit-box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38); 
    box-shadow: 12px 8px 12px -5px rgba(0,0,0,0.38);
    
   
    margin-top: 10px;

}